{% extends "site_base.html" %}
{% block title %}Ro‘yxatdan o‘tish — HomeEdu{% endblock %}
{% block content %}
<h1 class="h1">Ro‘yxatdan o‘tish</h1>
<p class="sub">Email, parol va rolni tanlang.</p>

<div class="card" style="margin-top: 16px;">
  <form method="post" class="formgrid" novalidate>
    {% csrf_token %}
    {{ form.non_field_errors }}

    <div class="grid grid2">
      <div>
        <div class="label">Email</div>
        {{ form.email }}{{ form.email.errors }}
      </div>
      <div>
        <div class="label">F.I.O</div>
        {{ form.full_name }}{{ form.full_name.errors }}
      </div>
      <div>
        <div class="label">Yosh</div>
        {{ form.age }}{{ form.age.errors }}
      </div>
      <div>
        <div class="label">Telefon</div>
        {{ form.phone }}{{ form.phone.errors }}
      </div>
      <div>
        <div class="label">Rol</div>
        {{ form.role }}{{ form.role.errors }}
      </div>
      <div>
        <div class="label">Sinf</div>
        {{ form.grade }}{{ form.grade.errors }}
      </div>
      <div>
        <div class="label">Parol</div>
        {{ form.password1 }}{{ form.password1.errors }}
      </div>
      <div>
        <div class="label">Parolni tasdiqlang</div>
        {{ form.password2 }}{{ form.password2.errors }}
      </div>
    </div>

    <button class="btn primary" type="submit">Ro‘yxatdan o‘tish</button>
    <a class="btn" href="{% url 'accounts:login' %}">Kirish</a>
  </form>
</div>
{% endblock %}
